html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 10rem); 
    padding: 2rem;
}

.main-content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}


.cards {
    background-color: #F5F2DB;
    border-radius: 10px;
    padding: 3rem;
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.2);
    max-width: 650px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 20vh;
    transition: box-shadow 0.3s ease;
}

.cards:hover {
    box-shadow: 0 16px 28px rgba(0, 0, 0, 0.3);
}

.card-content {
    width: 100%;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

/*--> FONT <--*/
.titleInput {
    flex: 1;
    margin-right: 1rem;
    text-transform: uppercase;
    font-size: 20px;
    text-align: left; 
}

h3 {
    margin-bottom: 1.5rem;
    padding-bottom: 2rem;
    text-align: center;
    font-family: 'Jutson', sans-serif;
    font-size: 50px;
    font-weight: bold;
}

/*--> INPUTS <--*/
.input1{
    flex: 2;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-left: 2rem;
    align-items: center;
    font-size: 20px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.input2 {
    width: 100%;
    padding-right: 100px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.input3{
    flex: 2;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 20px;
    display: flex;
    align-items: center;
    background-color: #fef6ac77;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.input1, .input2, .input3, .input-group {
    flex: 2;
    padding: 0.75rem;
    border: 1px solid #ffffff00;
    border-radius: 5px;
    display: flex;
    align-items: center;
    background-color: #fef6ac77;
    margin-left: 2rem;
}


/*--> MENU DESPLEGABLE <--*/

.dropdown-menu {
    width: 100%;
    text-align: center;
    background-color: #a7a27b77;
    border: none;
    border-radius: 5px;
}

.dropdown-menu li{
    background-color: #fef6ac55;
}

.dropdown-menu .dropdown-item {
    text-align: center;
    color: #000;
    padding: 0.5rem 1rem;
}

/*--> BOTONES <--*/
.btnSelec{
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0.75rem;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #fef6ac77;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 2px);
}

.btnSelec:hover{
    border: none;

}

.btnGuardar {
    background-color: #427282 !important;
    color: #fff !important;
    border: solid 2px #427282;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.btnGuardar:hover {
    background-color: #365c66;
}

#guardarBtn {
    font-family: 'Jutson', sans-serif;
    font-size: 1.2rem;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
