@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 10rem); 
    padding: 2rem;
}

.main-content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}


.cards {
    background-color: #F5F2DB;
    border-radius: 10px;
    padding: 3rem;
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.2);
    max-width: 650px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 1rem;
    transition: box-shadow 0.3s ease;
}

.cards:hover {
    box-shadow: 0 16px 28px rgba(0, 0, 0, 0.3);
}

.card-content {
    width: 100%;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

/*--> FONT <--*/
.titleInput {
    flex: 1;
    margin-right: 1rem;
    text-transform: uppercase;
    font-size: 1rem;
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}

h2 {
    margin-bottom: 1.5rem;
    padding-bottom: 2rem;
    text-align: center;
    font-family: 'Lobster Two', cursive;
    font-weight: bold;
}

/*--> INPUTS <--*/
.input{
    flex: 2;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 20px;
    display: flex;
    align-items: center;
    background-color: #fef6ac77;
    margin-left: 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    font-family: 'Ubuntu', sans-serif;
}

.input:hover{
    border: 1px solid;    
}

/*--> BOTONES <--*/
.btnSelec{
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0.75rem;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #fef6ac77;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 2px);
}

.btnSelec:hover{
    border: none;

}

.btnGuardar {
    background-color: #427282 !important;
    color: #fff !important;
    border: solid 2px #427282;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.btnGuardar:hover {
    background-color: #365c66;
}

#guardarBtn {
    font-family: 'Jutson', sans-serif;
    font-size: 1.2rem;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
